
	<!-- Formulário -->

	<div class="conteudo-produto" *ngIf="exibirTelaCadastro">

	<form>
		
		<div class="form-group mt-4">
			<label for="nome" class="form-label">Nome</label>
			<input type="text" class="form-control nome-produto" #nome="ngModel" [(ngModel)]="produto.nome" name="nome" id="nome" required>
		</div>

		

		<div class="valor-group">

			<div class="form-group mt-2 mr-2">
				<label for="quantidade" class="form-label">Qtde</label>
				<input type="text"  class="form-control quantidade-produto" #quantidade="ngModel" [(ngModel)]="produto.quantidade" name="quantidade" id="quantidade" required>
			</div>
			<div class="form-group mt-2 mr-2">
				<label for="valorCompra" class="form-label">Valor Compra</label>
				<input type="text" class="form-control valor-produto" #valorCompra="ngModel" [(ngModel)]="produto.valorCompra" name="valorCompra" id="valorCompra" required>
			</div>

			<div class="form-group mt-2">
				<label for="valorVenda" class="form-label">Valor Venda</label>
				<input type="text" class="form-control valor-produto" #valorVenda="ngModel" [(ngModel)]="produto.valorVenda" name="valorVenda" id="valorVenda" required>
			</div>

		</div>

		<div class="data-group">
			<div class="form-group mt-2 mr-2">
				<label for="dataCompra" class="form-label">Data Compra</label>
				<input type="text" class="form-control data-produto" #dataCompra="ngModel" [(ngModel)]="produto.dataCompra" name="dataCompra" id="dataCompra" required>
			</div>

			<div class="form-group mt-2">
				<label for="dataVenda" class="dataVenda">Data Venda</label>
				<input type="text" class="form-control data-produto" #dataVenda="ngModel" [(ngModel)]="produto.dataVenda" name="dataVenda" id="dataVenda" required>
			</div>

			
			<div class="form-group selecione-status">
				<select class="form-select" name="status" id="status" [(ngModel)] = "produto.status">
					<option value="">Selecione</option>
					<option value="Vendido">Vendido</option>
					<option value="Disponivel">Dispon&iacute;vel</option>
				</select>
			</div>
		</div>

		

		<button class="btn btn-primary mt-4 mb-2" 
		[disabled] = "nome.invalid && quantidade.invalid && valorCompra.invalid && valorVenda.invalid" 
		(click) = "update()">Salvar</button>
	</form>

</div>
	

	
	<!-- Tabela -->
<div class="conteudo-tabela mt-4" *ngIf="!exibirTelaCadastro">

	<div>
		<button class="btn btn-success btn-adicionar-produto mb-2" [routerLink] = "['/cadastrar']">Novo</button>
	</div>

	<div class="filtro-pesquisa">
		<input type="text" class="form-control" 
			[(ngModel)] = "nomeProduto" name="nomeProduto" 
			id="nomeProduto" placeholder="Digite o nome do produto">
		<button class="btn btn-primary" (click) = "findByNome()">Buscar</button>
	</div>
	
	<table class="table" >
		<thead class="tabela-produto">
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Qtde</th>
				<th scope="col">Valor Compra</th>
				<th scope="col">Valor Venda</th>
				<th scope="col">Data Compra</th>
				<th scope="col">Data Venda</th>
				<th scope="col">Status</th>
				<th scope="col">Atualizar</th>
				<th scope="col">Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let produto of produtos | paginate: { itemsPerPage:10, currentPage: p }">
				<td>{{produto.nome}}</td>
				<td>{{produto.quantidade}}</td>
				<td>{{produto.valorCompra | currency: 'BRL': true: '1.2-2'}}</td>
				<td>{{produto.valorVenda | currency: 'BRL': true: '1.2-2'}}</td>
				<td>{{produto.dataCompra}}</td>
				<td>{{produto.dataVenda}}</td>
				<td>{{produto.status}}</td>
				<td>
					<a type="button" (click) = "atualizar(produto)">Atualizar</a>
				</td>
				<td>
					<a type="button" (click) = "delete(produto)">Deletar</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				<td></td>
				<td><strong>{{totalCompra() | currency: 'BRL': true: '1.2-2'}}</strong></td>
				<td><strong>{{totalVenda() | currency: 'BRL': true: '1.2-2'}}</strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>

	<div class="text-center">
		<pagination-controls
			(pageChange)="p = $event" 
            previousLabel="voltar"
            nextLabel="proximo">
		</pagination-controls>
	</div>
</div>